src/conf/xml-resources/web-service-references/col/wsdl/ec2-52-43-233-138.us-west-2.compute.amazonaws.com_3769/col.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><xs:schema xmlns:tns="http://cleanoutloudserver/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://cleanoutloudserver/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="addComment" type="tns:addComment"/>

<xs:element name="addCommentResponse" type="tns:addCommentResponse"/>

<xs:element name="addMessage" type="tns:addMessage"/>

<xs:element name="addMessageResponse" type="tns:addMessageResponse"/>

<xs:element name="answeredQuizzes" type="tns:answeredQuizzes"/>

<xs:element name="camps" type="tns:camps"/>

<xs:element name="createUser" type="tns:createUser"/>

<xs:element name="createUserResponse" type="tns:createUserResponse"/>

<xs:element name="editUser" type="tns:editUser"/>

<xs:element name="editUserResponse" type="tns:editUserResponse"/>

<xs:element name="getCamps" type="tns:getCamps"/>

<xs:element name="getCampsResponse" type="tns:getCampsResponse"/>

<xs:element name="getQuizAnswers" type="tns:getQuizAnswers"/>

<xs:element name="getQuizAnswersResponse" type="tns:getQuizAnswersResponse"/>

<xs:element name="getQuizzes" type="tns:getQuizzes"/>

<xs:element name="getQuizzesResponse" type="tns:getQuizzesResponse"/>

<xs:element name="getUsersOfAnsweredQuizzes" type="tns:getUsersOfAnsweredQuizzes"/>

<xs:element name="getUsersOfAnsweredQuizzesResponse" type="tns:getUsersOfAnsweredQuizzesResponse"/>

<xs:element name="getWallMessages" type="tns:getWallMessages"/>

<xs:element name="getWallMessagesResponse" type="tns:getWallMessagesResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="loginWithBrugerAutMod" type="tns:loginWithBrugerAutMod"/>

<xs:element name="loginWithBrugerAutModResponse" type="tns:loginWithBrugerAutModResponse"/>

<xs:element name="messages" type="tns:messages"/>

<xs:element name="quiz" type="tns:quiz"/>

<xs:element name="quizAnswers" type="tns:quizAnswers"/>

<xs:element name="users" type="tns:users"/>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addComment">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="tns:messages" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="messages">
<xs:sequence>
<xs:element name="date" type="xs:dateTime" minOccurs="0"/>
<xs:element name="messageId" type="xs:int" minOccurs="0"/>
<xs:element name="text" type="xs:string" minOccurs="0"/>
<xs:element name="user" type="tns:users" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="users">
<xs:sequence>
<xs:element name="camp" type="tns:camps" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="token" type="xs:string" minOccurs="0"/>
<xs:element name="userName" type="xs:string" minOccurs="0"/>
<xs:element name="userType" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="camps">
<xs:sequence>
<xs:element name="campName" type="xs:string" minOccurs="0"/>
<xs:element name="garbageWeight" type="xs:int"/>
<xs:element name="location" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addCommentResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="addMessage">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addMessageResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getUsersOfAnsweredQuizzes">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUsersOfAnsweredQuizzesResponse">
<xs:sequence>
<xs:element name="return" type="tns:answeredQuizzes" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="answeredQuizzes">
<xs:sequence>
<xs:element name="answeredCorrect" type="xs:boolean"/>
<xs:element name="answeredQuizzesPK" type="tns:answeredQuizzesPK" minOccurs="0"/>
<xs:element ref="tns:quiz" minOccurs="0"/>
<xs:element ref="tns:users" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="answeredQuizzesPK">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="userName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="quiz">
<xs:sequence>
<xs:element name="funFact" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="textQuestion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editUser">
<xs:sequence>
<xs:element name="arg0" type="tns:users" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editUserResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getQuizzes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getQuizzesResponse">
<xs:sequence>
<xs:element name="return" type="tns:quiz" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUser">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
<xs:element name="arg4" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUserResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getQuizAnswers">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getQuizAnswersResponse">
<xs:sequence>
<xs:element name="return" type="tns:quizAnswers" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="quizAnswers">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="isCorrect" type="xs:boolean"/>
<xs:element name="name" type="tns:quiz" minOccurs="0"/>
<xs:element name="text" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginWithBrugerAutMod">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginWithBrugerAutModResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getWallMessages">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getWallMessagesResponse">
<xs:sequence>
<xs:element name="return" type="tns:messages" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCamps">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCampsResponse">
<xs:sequence>
<xs:element name="return" type="tns:camps" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>