src/conf/xml-resources/web-service-references/col/wsdl/ec2-52-43-233-138.us-west-2.compute.amazonaws.com_3769/col.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cleanoutloudserver/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cleanoutloudserver/" name="CleanOutLoudImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://cleanoutloudserver/" schemaLocation="http://ec2-52-43-233-138.us-west-2.compute.amazonaws.com:3769/col?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="getCamps">
<part name="parameters" element="tns:getCamps"/>
</message>
<message name="getCampsResponse">
<part name="parameters" element="tns:getCampsResponse"/>
</message>
<message name="getCampsSortedInWeight">
<part name="parameters" element="tns:getCampsSortedInWeight"/>
</message>
<message name="getCampsSortedInWeightResponse">
<part name="parameters" element="tns:getCampsSortedInWeightResponse"/>
</message>
<message name="deleteCamp">
<part name="parameters" element="tns:deleteCamp"/>
</message>
<message name="deleteCampResponse">
<part name="parameters" element="tns:deleteCampResponse"/>
</message>
<message name="addCamp">
<part name="parameters" element="tns:addCamp"/>
</message>
<message name="addCampResponse">
<part name="parameters" element="tns:addCampResponse"/>
</message>
<message name="CustomErrorMessage">
<part name="fault" element="tns:CustomErrorMessage"/>
</message>
<message name="setGarbage">
<part name="parameters" element="tns:setGarbage"/>
</message>
<message name="setGarbageResponse">
<part name="parameters" element="tns:setGarbageResponse"/>
</message>
<message name="createUser">
<part name="parameters" element="tns:createUser"/>
</message>
<message name="createUserResponse">
<part name="parameters" element="tns:createUserResponse"/>
</message>
<message name="getWallMessages">
<part name="parameters" element="tns:getWallMessages"/>
</message>
<message name="getWallMessagesResponse">
<part name="parameters" element="tns:getWallMessagesResponse"/>
</message>
<message name="addMessage">
<part name="parameters" element="tns:addMessage"/>
</message>
<message name="addMessageResponse">
<part name="parameters" element="tns:addMessageResponse"/>
</message>
<message name="addComment">
<part name="parameters" element="tns:addComment"/>
</message>
<message name="addCommentResponse">
<part name="parameters" element="tns:addCommentResponse"/>
</message>
<message name="getCommentsForMessage">
<part name="parameters" element="tns:getCommentsForMessage"/>
</message>
<message name="getCommentsForMessageResponse">
<part name="parameters" element="tns:getCommentsForMessageResponse"/>
</message>
<message name="setUser">
<part name="parameters" element="tns:setUser"/>
</message>
<message name="setUserResponse">
<part name="parameters" element="tns:setUserResponse"/>
</message>
<message name="getUser">
<part name="parameters" element="tns:getUser"/>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"/>
</message>
<message name="getMessage">
<part name="parameters" element="tns:getMessage"/>
</message>
<message name="getMessageResponse">
<part name="parameters" element="tns:getMessageResponse"/>
</message>
<portType name="ICleanOutLoud">
<operation name="login">
<input wsam:Action="http://cleanoutloudserver/ICleanOutLoud/loginRequest" message="tns:login"/>
<output wsam:Action="http://cleanoutloudserver/ICleanOutLoud/loginResponse" message="tns:loginResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://cleanoutloudserver/ICleanOutLoud/login/Fault/Exception"/>
</operation>
<operation name="getCamps">
<input wsam:Action="http://cleanoutloudserver/ICleanOutLoud/getCampsRequest" message="tns:getCamps"/>
<output wsam:Action="http://cleanoutloudserver/ICleanOutLoud/getCampsResponse" message="tns:getCampsResponse"/>
</operation>
<operation name="getCampsSortedInWeight">
<input wsam:Action="http://cleanoutloudserver/ICleanOutLoud/getCampsSortedInWeightRequest" message="tns:getCampsSortedInWeight"/>
<output wsam:Action="http://cleanoutloudserver/ICleanOutLoud/getCampsSortedInWeightResponse" message="tns:getCampsSortedInWeightResponse"/>
</operation>
<operation name="deleteCamp">
<input wsam:Action="http://cleanoutloudserver/ICleanOutLoud/deleteCampRequest" message="tns:deleteCamp"/>
<output wsam:Action="http://cleanoutloudserver/ICleanOutLoud/deleteCampResponse" message="tns:deleteCampResponse"/>
</operation>
<operation name="addCamp">
<input wsam:Action="http://cleanoutloudserver/ICleanOutLoud/addCampRequest" message="tns:addCamp"/>
<output wsam:Action="http://cleanoutloudserver/ICleanOutLoud/addCampResponse" message="tns:addCampResponse"/>
<fault message="tns:CustomErrorMessage" name="CustomErrorMessage" wsam:Action="http://cleanoutloudserver/ICleanOutLoud/addCamp/Fault/CustomErrorMessage"/>
</operation>
<operation name="setGarbage">
<input wsam:Action="http://cleanoutloudserver/ICleanOutLoud/setGarbageRequest" message="tns:setGarbage"/>
<output wsam:Action="http://cleanoutloudserver/ICleanOutLoud/setGarbageResponse" message="tns:setGarbageResponse"/>
<fault message="tns:CustomErrorMessage" name="CustomErrorMessage" wsam:Action="http://cleanoutloudserver/ICleanOutLoud/setGarbage/Fault/CustomErrorMessage"/>
</operation>
<operation name="createUser">
<input wsam:Action="http://cleanoutloudserver/ICleanOutLoud/createUserRequest" message="tns:createUser"/>
<output wsam:Action="http://cleanoutloudserver/ICleanOutLoud/createUserResponse" message="tns:createUserResponse"/>
<fault message="tns:CustomErrorMessage" name="CustomErrorMessage" wsam:Action="http://cleanoutloudserver/ICleanOutLoud/createUser/Fault/CustomErrorMessage"/>
</operation>
<operation name="getWallMessages">
<input wsam:Action="http://cleanoutloudserver/ICleanOutLoud/getWallMessagesRequest" message="tns:getWallMessages"/>
<output wsam:Action="http://cleanoutloudserver/ICleanOutLoud/getWallMessagesResponse" message="tns:getWallMessagesResponse"/>
</operation>
<operation name="addMessage">
<input wsam:Action="http://cleanoutloudserver/ICleanOutLoud/addMessageRequest" message="tns:addMessage"/>
<output wsam:Action="http://cleanoutloudserver/ICleanOutLoud/addMessageResponse" message="tns:addMessageResponse"/>
<fault message="tns:CustomErrorMessage" name="CustomErrorMessage" wsam:Action="http://cleanoutloudserver/ICleanOutLoud/addMessage/Fault/CustomErrorMessage"/>
</operation>
<operation name="addComment">
<input wsam:Action="http://cleanoutloudserver/ICleanOutLoud/addCommentRequest" message="tns:addComment"/>
<output wsam:Action="http://cleanoutloudserver/ICleanOutLoud/addCommentResponse" message="tns:addCommentResponse"/>
<fault message="tns:CustomErrorMessage" name="CustomErrorMessage" wsam:Action="http://cleanoutloudserver/ICleanOutLoud/addComment/Fault/CustomErrorMessage"/>
</operation>
<operation name="getCommentsForMessage">
<input wsam:Action="http://cleanoutloudserver/ICleanOutLoud/getCommentsForMessageRequest" message="tns:getCommentsForMessage"/>
<output wsam:Action="http://cleanoutloudserver/ICleanOutLoud/getCommentsForMessageResponse" message="tns:getCommentsForMessageResponse"/>
<fault message="tns:CustomErrorMessage" name="CustomErrorMessage" wsam:Action="http://cleanoutloudserver/ICleanOutLoud/getCommentsForMessage/Fault/CustomErrorMessage"/>
</operation>
<operation name="setUser">
<input wsam:Action="http://cleanoutloudserver/ICleanOutLoud/setUserRequest" message="tns:setUser"/>
<output wsam:Action="http://cleanoutloudserver/ICleanOutLoud/setUserResponse" message="tns:setUserResponse"/>
<fault message="tns:CustomErrorMessage" name="CustomErrorMessage" wsam:Action="http://cleanoutloudserver/ICleanOutLoud/setUser/Fault/CustomErrorMessage"/>
</operation>
<operation name="getUser">
<input wsam:Action="http://cleanoutloudserver/ICleanOutLoud/getUserRequest" message="tns:getUser"/>
<output wsam:Action="http://cleanoutloudserver/ICleanOutLoud/getUserResponse" message="tns:getUserResponse"/>
<fault message="tns:CustomErrorMessage" name="CustomErrorMessage" wsam:Action="http://cleanoutloudserver/ICleanOutLoud/getUser/Fault/CustomErrorMessage"/>
</operation>
<operation name="getMessage">
<input wsam:Action="http://cleanoutloudserver/ICleanOutLoud/getMessageRequest" message="tns:getMessage"/>
<output wsam:Action="http://cleanoutloudserver/ICleanOutLoud/getMessageResponse" message="tns:getMessageResponse"/>
<fault message="tns:CustomErrorMessage" name="CustomErrorMessage" wsam:Action="http://cleanoutloudserver/ICleanOutLoud/getMessage/Fault/CustomErrorMessage"/>
</operation>
</portType>
<binding name="CleanOutLoudImplPortBinding" type="tns:ICleanOutLoud">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getCamps">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCampsSortedInWeight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCamp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCamp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomErrorMessage">
<soap:fault name="CustomErrorMessage" use="literal"/>
</fault>
</operation>
<operation name="setGarbage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomErrorMessage">
<soap:fault name="CustomErrorMessage" use="literal"/>
</fault>
</operation>
<operation name="createUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomErrorMessage">
<soap:fault name="CustomErrorMessage" use="literal"/>
</fault>
</operation>
<operation name="getWallMessages">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addMessage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomErrorMessage">
<soap:fault name="CustomErrorMessage" use="literal"/>
</fault>
</operation>
<operation name="addComment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomErrorMessage">
<soap:fault name="CustomErrorMessage" use="literal"/>
</fault>
</operation>
<operation name="getCommentsForMessage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomErrorMessage">
<soap:fault name="CustomErrorMessage" use="literal"/>
</fault>
</operation>
<operation name="setUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomErrorMessage">
<soap:fault name="CustomErrorMessage" use="literal"/>
</fault>
</operation>
<operation name="getUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomErrorMessage">
<soap:fault name="CustomErrorMessage" use="literal"/>
</fault>
</operation>
<operation name="getMessage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomErrorMessage">
<soap:fault name="CustomErrorMessage" use="literal"/>
</fault>
</operation>
</binding>
<service name="CleanOutLoudImplService">
<port name="CleanOutLoudImplPort" binding="tns:CleanOutLoudImplPortBinding">
<soap:address location="http://ec2-52-43-233-138.us-west-2.compute.amazonaws.com:3769/col"/>
</port>
</service>
</definitions>